@font-face {
    font-family: "Helvetica Neue Cyr Light";
    src: url("../assets/fonts/HelveticaNeueCyr-Light.woff");
}
@font-face {
    font-family: "SF Pro Display Semibold";
    src: url("../assets/fonts/SF-Pro-Display-Semibold.otf");
}  
.support {
    .fillColor {
        background: #060d23;
        margin-left: -100%;
        padding: 10em 10em 6em 80em;
        text-align: left;
        .enon-accessibility__title {
            padding-right: 10%;
            h4 {
                color: #fff;
                font: {
                    size: 29px;
                    family: "Helvetica Neue Cyr Light";
                }
            }
            p {
                font: {
                    family: "Helvetica Neue Cyr Light";
                    size: 18px;
                }
                color: #89acb9;
                padding-top: 1em;
                padding-right: 10%;
            }
        }
    }
    .fillColorBottom{
        background: #060d23;
        margin-left: -100%;
        padding: 0em 10em 2em 80em;
        .enon-accessibility__links{
            display: block;
            text-align: left;
            a {
                display: block;
                font-family: "SF Pro Display Semibold";
                color: #9b9ea7;
            }
        }
    }
    .fillColorWhite {
        background: white;
    }
}
@media only screen and (max-width: 1199px){
    .support {
        .container-fluid{
            padding: 0px;
        }
        .fillColor {
            margin: {
                left: 0%;
                right: 0%;
            }
            
            padding: 0em 0em 0em 0em;
            text-align: left;
            .enon-accessibility__title {
                h4 {
                    padding-top: 2em;
                    color: #fff;
                    font: {
                        family: "Helvetica Neue Cyr Light";
                        size: 28px;
                    }
                }
                p {
                    font: {
                        family: "Helvetica Neue Cyr Light";
                        size: 17px;
                    }
                    color: #89acb9;
                    padding-top: 1em;
                }
            }
            img {
                width: 100%;
            }
        }
        .fillColorBottom{
            margin: {
                left: 0%;
                right: 0%;
            }
            padding: 2em 0em 2em 0em;
            .enon-accessibility__links{
                text-align: left;
                a {
                    display: inline-flex;
                    i {
                        padding: {
                            top: 4px;
                            right: 8px;
                        }
                    }
                }
            }
        }
    }
}