.cntr {
	height: 90px;
	width: 100%;
	min-width: 480px;
	max-width: 620px;
	padding: 20px 20px;
	text-align: left;
	display: flex;
	border-right: 1px #ddd solid;
	justify-content: space-between;
}

/* .cntr::after {
	content: '';
	clear: both;
	display: block;
} */

.currIcon {
	height: 30px;
	width: 30px;
	/* margin-left: 5px; */
}

.section {
	/* float: left; */
	/* width: 33%; */
	/* display: inline-block; */
}

.sHeader {
	margin-bottom: 5px;
font-size: 13px;
}

.sContent {}

.amount {
	margin-left: 5px;
	font-size: 20px;
    line-height: 21px;
    color: #5e5e5e;
}

.compare {
	margin-left: 5px;
	font-weight: 500;
	color: rgba(0,132,240,.52);
}

.abbr {
	margin-left: 5px;
	color: #535353;
    font-weight: 400;
    font-size: 13px;
}
.amount1 {
	margin-left: 5px;
	font-size: 20px;
    line-height: 21px;
	color: #5e5e5e;
	font-weight: 500;
}
.abbr1 {
	margin-left: 5px;
	color: #535353;
    font-weight: 400;
    font-size: 13px;
}