.currency_badge_cntr {}

.currency_badge_img {
	height: 22px;
	/* width: 15%; */
	font-size: 22px;
	margin-right: 20px;
}
div.ENOrderList_cntr > div > div.ant-table-wrapper.ENOrderList_table__1nsZs > div > div > div > div > div > table > tbody > tr > td > div{
	padding-top: 10px;
    padding-bottom: 10px;
}
div.ENOrderList_cntr > div > div.ant-table-wrapper.ENOrderList_table__1nsZs > div > div > div > div > div > table > tbody > tr > td > div > img{
	width: 15%;
	height: auto;
	/* margin-right: 55px; */
}
div.ENOrderList_cntr > div > div.ant-table-wrapper.ENOrderList_table__1nsZs > div > div > div > div > div > table > tbody > tr > td > div >span{
	font-size: 15px;
    font-weight: 400;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    color: #333;
}
.currency_badge_name {}

.currency_badge_abbr {
	margin-left: 5px;
}

.currency_badge_amount {
	margin-right: 20px;
}

.div-block-270 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding: 18px 31px;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	border-bottom: 1px none rgba(0, 0, 0, .11);
	font-size: 16px;
}

.image-67 {
	margin-right: 19px;
}