.listItem {
	margin-bottom: 15px;
}

.site {}

.ethAddr {
	margin: 5px 0px;
}

.verify {
	color: #0084f0;
}

.verifyHref {
	color: #0084f0;
}

.list {
	padding-left: 40px;
}

.text {
	margin-bottom: 30px;
}