.CollateralList_cntr {}

.CollateralList_modal_header {
	color: #000;
	font-size: 18px;
	font-weight: 500;
	margin: 10px 0px;
	display: inline-block;
}

.CollateralList_modal {}

.CollateralList_modal .ant-modal-header {
	padding: 17px 37px;
}

.CollateralList_modal .ant-modal-body {
	padding: 41px 37px;
}