.listItem {
	margin-bottom: 15px;
}

.site {}

.ethAddr {
	margin: 5px 0px;
}

.verify {
<<<<<<< HEAD
	color: #1acf9d;
}

.verifyHref {
	color: #1acf9d;
=======
	color: #0084f0;
}

.verifyHref {
	color: #0084f0;
>>>>>>> ef36a1bd0ace55a699ada0b5c2d5cf5c19a7141c
}

.list {
	padding-left: 40px;
}

.text {
	margin-bottom: 30px;
}