.navbar  {
    img {
        width: 110px;
    }
    a {
        color: #000;
        font-size: 13px;
        text-transform: uppercase;
        cursor: pointer;
        font-weight: 700;
        letter-spacing: 1px;
        font-family: "MySoBold";
        img {
            width: 27.7px;
            margin-left: 11px;
        }
    }
}