.navbar  {
    .widthImg {
        width: 110px;
    }
    a {
        color: #000;
        font-size: 13px;
        text-transform: uppercase;
        cursor: pointer;
        font-weight: 700;
        letter-spacing: 1px;
        font-family: "MySoBold";
        img {
            width: 27.7px;
            margin-left: 11px;
        }
    }
}
@media only screen and (max-width:580px){
    #mobWidth{
            padding-left: 0;
        }
}
@media only screen and (max-width:376px){
    #mobWidth > nav{
        display: inline-flex;
    }
        .navbar{
            .widthImg {
                width: 85px;
            }
            a{
                font-size: 10px;
                img {
                    width: 20px;
                    margin-left: 2px;
                }
            }
            
    }
}
@media only screen and (max-width:320px){
    #mobWidth > nav{
        display: inline-block;
    }
    //     .navbar{
    //         .widthImg {
    //             width: 85px;
    //         }
    //         a{
    //             font-size: 10px;
    //             img {
    //                 width: 20px;
    //                 margin-left: 2px;
    //             }
    //         }
            
    // }
}