.footerHome {
  overflow-x: hidden;
  width: 88%;
    margin-left: 0;
  position: fixed;
  bottom: 0;
  border-top: 1px solid #e1e8ed;
  background-color: #fff;
  padding-top: 19px !important;
  padding-bottom: 19px !important;
  .leftFooterSection {
    border-right: 1px solid #e1e8ed;
    padding-right: 20px;
    padding-left: 0;
    div {
      div:nth-child(1) {
        max-width: 30%;
      }
    }
    p {
      color: #535353 !important;
      font-weight: 300 !important;
      font-size: 13px;
      margin-bottom: 5px;
      line-height: 20px;
      font-family: "MySoRegular";
    }
    img {
      margin-left: 45px;
    }
    span,
    p {
      color: #535353;
      font-weight: 300;
      font-size: 13px;
      margin-bottom: 5px;
      line-height: 20px;
      font-family: "MySoRegular";
      margin-left: 9px;
      strong {
        font-size: 20px;
        line-height: 21px;
        color: #5e5e5e;
      }
    }
    div:nth-child(2) {
      img {
        margin-left: 15px;
      }
    }
    div:nth-child(3) {
      p {
        text-align: left;
      }
      a {
        color: #0084f085;
        font-weight: 600;
        margin-left: 7px;
      }
    }
  }
  .rightFooterSection {
    p {
      text-decoration: underline;
      margin-top: 13px;
      color: #535353;
      font-weight: 300;
      font-size: 13px;
      margin-bottom: 5px;
      line-height: 20px;
      font-family: "MySoRegular";
      margin-left: 9px;
      cursor: pointer;
    }
    .buybutton1 {
      background-color: #cacaca;
      border: none;
      text-transform: uppercase;
      margin-top: 5px;
    }
    button {
      width: 327.75px;
      padding-right: 21px;
      padding-left: 21px;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      background-color: #0070e0;
      color: #fff;
      padding: 13px 54px;
      border-radius: 89px;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 1px;
      font-family: "MySoBold";
    }
  }
}
@media only screen and (min-width:1200px){
  .hideXl{
    display: none;
  }
}
@media only screen and (max-width:580px){
  .footerHome{
    padding-left: 0;
    padding-right: 0;

    position: relative;
    .leftFooterSection div div:nth-child(1),
    .leftFooterSection div div:nth-child(2) {
      max-width: 50%;
      padding-bottom: 10px;
    }
     .leftFooterSection div:nth-child(3) p{
       text-align: center;
       padding-top: 10px;
     }
    .rightFooterSection button{
      width: auto;
      padding: 10px 40px;
      font-size: 12px;
    }
    .leftFooterSection img{
      margin-left: 0!important;
    }
  }
} 