.menuItem {
	line-height: 20px;
	height: 58px;

	box-shadow: none;
    color: rgba(51, 51, 51, 0.62);
    font-weight: 500;
    margin-bottom: 0;
    font-size: 16px;
}

.menuItem:hover {
	background-color: rgba(0, 0, 0, 0.09);
        box-shadow: none;
        /* font-weight: 500; */
}