.cntr::after {
	display: block;
	content: '';
	clear: both;
}

.stepsMenuCntr {
<<<<<<< HEAD
	width: 50px;
=======
	margin-top: 2%;
	width: 8%;
>>>>>>> ef36a1bd0ace55a699ada0b5c2d5cf5c19a7141c
	/* padding-right: 28px; */
	/* display: inline-block; */
	/* border-right: 1px #eeeeee solid; */
	/* margin-right: -50px; */
	float: left;
}

.stepCntr {
	/* margin-left: 0px; */
	/* display: inline-block; */
	border-left: 1px #eeeeee solid;
	float: left;
	width: 90%;
}